eader{
    background-color: white;
}
 

body{
    background: linear-gradient(to bottom, white, blue)
}
h1{
    text-align: center;
}

.centro{
    text-align: center;
    font-family: cursive;
}

footer{
    background-color: rgb(99, 53, 61);
    
}
